@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;1,500;1,600;1,700&display=swap');
body{
	font-family: 'Gothic A1', sans-serif;
font-family: 'Poppins', sans-serif;
overflow-x: hidden;
}
.wrap__header{
	background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;

}
.header{
	max-width: 1152px;
	height: 800px;
	margin:0 auto;
	padding: 40px 30px;
	position: relative;
}
a{
	color: white;
}

.nav{
	display: flex;
	justify-content: space-between;
	margin-bottom: 230px;
}
.header__list{
	display: flex;
	column-gap: 30px;
}
.header__list a{
	font-weight: 400;
   font-size: 16px;
   line-height: 20px;
}
.header__container{
	min-width: 677px;
	display: flex;
	color: #FFFFFF;
}
.header__content{
	z-index: 1;
}
.header__title{
	font-weight: 400;
   font-size: 70px;
   line-height: 80px;

}
.header__subtitle{
font-weight: 400;
font-size: 27px;
line-height: 44px;
margin-bottom: 25px;
}
.button{
	display: inline-block;
	background: #FC0A7E;
   border-radius: 3px;
	font-weight: 400;
   font-size: 16px;
   line-height: 26px;
}
.header__btn{
	padding: 20px 40px;
}
.header__img{
	position: absolute;
	top: 120px;
	right:-140px;
	z-index: 0;
}
.header__bottom{
	position: absolute;
	bottom:4%;
	left:50%;
}
/*preview*/
.wrap__preview{
	background: #1B1B1B;
}
.preview{
	max-width: 1200px;
	margin:0 auto;
	position: relative;
	
}
.preview__content{
padding-top: 100px;
max-width: 607px;
margin: 0 auto;

}
/*SUBTITLE*/
.subtitle{
	padding-bottom: 25px;
	font-weight: 400;
   font-size: 10px;
   line-height: 20px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #A8A8A8;
}
/*TITLE*/
.title{
	margin-bottom: 22px;
	font-weight: 400;
	font-size: 36px;
	line-height: 48px;
	
	}
	/*TEXT*/
	.text{
	font-weight: 400;
   font-size: 14px;
line-height: 30px;
color: #6B6B6B;
	}
/*STAND*/
.stand{
	margin:160px 144px 160px 144px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.preview__title{
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 55px;
}

.preview__subtitle{
	margin-bottom: 30px;
	text-align: center; 
}

.preview__img{
position:relative ;
bottom: 0;
left: 0;
}

/*MENU*/
.menu{
	max-width: 1296px;
	margin: 0 auto;
}
/*account*/
.account,.account__content{
	margin-top: 80px;}
.content{
	width: 450px;
	padding: 0 80px 0 58px;
}
/*Orders*/
.orders__img{
	padding: 0 86px;
}
.recipe__img{
	padding: 0 109px;
}
/*outline*/
.outline{
	display: flex;
	justify-content: space-around;
}
.outline__item{
	margin:0 30px 160px ;
	text-align: center;
}
.outline__title{
	padding: 40px 0 17px;
	font-weight: 700;
font-size: 18px;
line-height: 24px;
}
.volume{
	margin-bottom: 160px;
	display: flex;
	justify-content: space-around;
}
.volume__item{
	align-items: center;
}
.volume__count{
	text-align: center;
	font-weight: 400;
	font-size: 59px;
	line-height: 90px;
}
.volume__dipiction{
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;

}
.article{
	display: flex;
	justify-content: center;
	column-gap: 20px;
	margin-bottom: 160px;
	margin-bottom: 160px;
}
.note{
	margin-bottom: 80px;
}
.note__content{
	max-width: 720px;
	margin: 0 auto;
	margin-bottom: 66px;
	text-align: center;
}
.note__article{
	padding: 63px 0 20px;
	font-weight: 400;
font-size: 22px;
line-height: 40px;
color: #6B6B6B;
text-align: center;
}
.note__footer{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
column-gap: 70px;
}
.note__name{
	padding-left: 20px;
	font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #6B6B6B;
}
.note__work{
	font-weight: 700;
font-size: 16px;
line-height: 30px;
color: #6B6B6B;
}
.note__line{
position: absolute;
display:inline;
border-bottom:1px solid  #d3d3d38a;
padding: 2px 15px;
top: 10px;
}
.change{
	display: flex;
	justify-content: center;
	column-gap: 16px;
	margin-bottom: 102px;
}
button{
	background: white;
}
.partners{
	display: block;
	text-align: center;
}
.footer{
	height: 510px;
}
.footer__img{
	height: 100%;
	background: url('../images/footer/IMAGE.svg')0 0/100% auto no-repeat;
}

/*НЕ ЗНАЮ КАК СДЕЛАТЬ ВОЛНУ НА ФОНЕ КАК НА МАКЕТЕ*/
.ready{
	box-sizing: border-box;
	padding:  186px 0;
	height: 473px;
	background: url('../images/footer/Vector.svg') 0 0/30% auto, linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
text-align: center;
}
.ready__text{
	font-weight: 400;
font-size: 38px;
line-height: 48px;
color: white;
margin-bottom: 40px;
}
   .ready a{
padding: 20px 40px;
border: solid 1px rgba(255, 255, 255, 0.208);
border-radius: 3px;
font-weight: 100;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
margin-right: 10px;
}
.ready__now{
	background: #FC0A7E;
}
.footer__black{
 background: #1B1B1B;
	text-align: center;
	padding-top: 130px;

}
.footer__black h2{
	font-weight: 400;
	font-size: 38px;
	line-height: 48px;
	color: #FFFFFF;
}
.footer__black h4{
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: #6B6B6B;
}
.footer__text{
	padding: 22px 140px 22px 10px;
	background: #FFFFFF;
box-shadow: 0px 0px 0px #FC0A7E;
border-radius: 3px 0px 0px 3px;
margin-bottom: 140px;
}
.footer__button{
	padding: 22px 40px ;
	background-color:#FC0A7E;
	border-radius: 0px 3px 3px 0px;
}
.footer__nav{
	width: 575px ;
	margin: 0 auto;
	margin-top: 30px;
	padding-bottom: 70px;
}
.footer__list{
	display: flex;
	justify-content: space-around;
}
.footer__list a{
	font-weight: 400;
font-size: 11px;
line-height: 20px;
color: #6B6B6B;
}