/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
background-color: #e8e8e8;
}
	#maincontainer{
		background: url('../images/Ellipse_1_copy.png')center no-repeat;
		background-color: ;
	}
	

.head p{
opacity: 0.6;
color: #273d46;
font-family: "Arial MT";
font-size: 14px;
font-weight: 400;
text-align: center;
text-transform: uppercase;
padding: 168px 0 0 0;

letter-spacing: 2.8px;
line-height: 40px;
}
.head h1{
	display: block;
	width: 750px;
	margin: auto;
color: #273d46;
font-family: "Times New Roman PSMT";
font-size: 36px;
font-weight: 400;
text-align: center;
}
.image{
text-align: center;
margin: 87px 0 107px 0;
}
.photo{
width: 821px;
height: 541px;
border:solid 10px white;
}
.text p{
width: 820px;
margin:  0 auto 68px;
padding: 0 35px;
text-align: left;
opacity: 0.8;
color: #273d46;
font-family: "Times New Roman PSMT";
font-size: 24px;
font-weight: 400;
line-height: 40px;
}
.list li{
	width: 820px;
	margin:auto;
	background: url('..//images/check_icon.png') 40px 10px no-repeat;
	padding: 0 0 0 70px ;
font-family: "Arial MT";
font-size: 20px;
line-height: 36px;
text-align: left;
}
.shadow{
	color: #273d46;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	font-weight: 400;
}
.italic{
	color: #80b7b3;
	font-weight: 400;
	font-style: italic;
}
.bold{
color: #273d46;
font-weight: bold;
}
li .line-through{
opacity: 0.3;
color: #273d46;
font-weight: 400;
text-decoration: line-through;
}
.button{
	width: 730px;
	margin: 35px auto;
	padding: 0 0 137px 0;
}
input{
	display: inline-block;
	padding: 0 0 0 20px;
	width: 199px;
	height: 44px;
border-radius: 35px;
	background:url('../images/Shape_2.png') 150px 15px no-repeat; 
	background-color: #80b7b3;
color: #ffffff;
font-family: "Arial MT";
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
text-align: left;
letter-spacing: 2.8px;
}